@font-face {
    font-family: Bicubik;
    src: url(../fonts/Bicubik.OTF);
}

@font-face {
    font-family: TT Norms M;
    src: url(../fonts/TT\ Norms\ M.otf);
}

@font-face {
    font-family: TT Norms B;
    src: url(../fonts/TTNorms-Bold.ttf);
}